body {
  background-color: rgb(177, 204, 229);
}
h1 {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  color: white;
}

h2 {
  text-align: center;
  font-size: 20pt;
}
.content{
  display: flex;
}

.nav {
  background-image: url("/images/headerBackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  font-size: 20pt;
}

.nav__item {
  justify-content: end;
  border: 2pt solid white;
  border-radius: 5pt;
  padding: 10pt;
  color: black;
  background-color: whitesmoke;
  margin: 15pt;
}

.nav__item:hover {
  background-color: rgb(75, 74, 74);
  color: whitesmoke;
}

img {
  max-width: 100%;
}

.fishies {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-evenly;
}

.fishies__card {
  flex-basis: 30%;
  text-align: center;
  border: 1pt solid black;
  margin: 2pt;
  border-radius: 2%;
  padding: 5pt;
  box-shadow: 8px 8px 5px rgb(70, 69, 69);
}

.highlightFish {
  background-color: rgb(231, 227, 216);
}
aside{
  width: 30%;
  border: 2px solid black;
  padding: 5px;
}

.location_content {
display: flex;
flex-direction: column;
}

.tips {
  border: 2pt solid black;
  margin: 5pt;
  margin-bottom: 25pt;
  display: flex;
  flex-direction: row;
  padding: 15pt;
  flex-basis: 10%;
}

.tips__tip {
  margin: 10pt;
  padding 15pt;
}

.addTipsBorder {
  border: 1pt solid black;
  border-radius: 2pt;
  background-color:rgb(231, 227, 216);
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.locations__location {
  border: 2pt solid black;
  margin: 10pt;
  padding: 10pt;
  border-radius: 5%;
  box-shadow: 8px 8px 5px rgb(70, 69, 69);
  text-align: center;

}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}

.fish__name {

  font-size: 18pt;
  font-weight: bold;
}

.fish {
  justify-content: center;
  align-content: center;
}

.dialog--fish {
  border: 2pt solid black;
  border-radius: 5%;
  font-size: 15pt;

}

.button {
  color: white;
  background-color: rgb(85, 85, 88);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  font-size: 15pt;
  border-radius: 3pt;
  margin: 10pt;
}

.button:hover  {
  color: black;
  background-color: whitesmoke;
  padding-left: 10pt;
  padding-right: 10pt;
}